.track-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #444;
  }
  
  canvas {
    background-color: #222;
    border: 2px solid #fff;
  }
  